
#main-container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        ;
    grid-template-columns: 200px auto;
    grid-template-rows: 105px auto;
    height: 100vh;
    overflow:hidden;
    grid-gap: 0.5em;
    position: relative;
    margin:0;
    padding:0;
    
    
}
#logo-image ,#prof-img{
    border-radius: 50%;
    background-color: tomato;
    
}
#nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;

}
a{
    text-decoration: none;
    color: darkblue;
    transition: transform 0.5s;
}

a:hover{
    text-decoration:underline;
    transform: scale(1.1);
}


#header{
    grid-area: header;
    display:flex;
    background-color: lightblue;
    height: 100;
    padding: 10px;
    gap: 4em;
    justify-content: space-between;
    flex-shrink: 1;
    z-index: 1;
    align-items: center;
    
    
}

#sidebar{
    grid-area: sidebar;
    background-color: lightgreen;
    flex-direction: column;
    display:flex;
    flex-grow: 1;
height:  auto;
overflow-y: auto;
    justify-items: space-evenly;
    align-items: stretch;
    overflow-y: auto;


}
p{
    font-weight: bold;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
p:hover{
    background-color: lightgray;
cursor: pointer;
}
#content{
    grid-area: content;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: 300px;
    background-color: lightyellow;
    position:relative;
    grid-gap: 1em;
    overflow-y: auto;
}

#card{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
    font: 2em sans-serif;
    cursor: pointer;


}
#card-pos{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;

    font: 2em sans-serif;
}
#card-pos:hover{
    background-color: lightblue;
    color: black;
}
#card:hover{
    background-color: lightblue;
    color: black;

}

#new{
    position:absolute;
    top:0;
    right:0;
    background-color: red;
    color: white;
    padding: 5px;
}
#btn-float{
    position:fixed;
    bottom:0;
    right:0;
    background-color: orange;
    padding: 10px;
    margin: 10px;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;

}

#btn-float:hover{
    background-color: yellow;
    color: red;
    cursor: pointer;
}

@media (max-width:600px){
    #main-container{
        grid-template-areas:
        "header"
        "sidebar"
        "content"
        ;
        grid-template-columns: auto;
        grid-template-rows: 105px 105px auto;
    }
    #header{
        gap:10px;
        overflow-y: auto;
        height:auto;

        
    }
    #sidebar{
        height:105px;
        flex-direction: row;
        /* flex-wrap:; */
        gap:5px;

        justify-items: space-between;
        align-items: center;
        flex-shrink:1;
    }
    
    
    
}